* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button {
    height: 40px;
    line-height: 40px;
    border: none;
    padding: 0 16px;
    border-radius: 2px;
    background: #eee;
    font-weight: 500;
    text-transform: uppercase;
    transition: .2s;
    border: solid 1px transparent;
}

.button:hover {
    cursor: pointer;
}

.button--disabled {
    background: #aaa !important;
    color: #fff !important;
    cursor: initial !important;
}

.button--primary {
    background: rgb(50, 150, 255);
    color: #fff;
}

.button--primary:hover {
    background: rgb(112, 181, 255);
}

.button--secondary {
    background: rgb(255, 255, 255);
    color: #111;
    border-color: #aaa;
}

.nav-bar {
    width: 100%;
    height: 64px;
    background: linear-gradient(45deg, #42b883, #82ce5e)
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.product__right-container {
    padding: 8px;
}

.product__image-container {
    max-width: 400px;
}

.product__image {
    width: 100%;
}

.product__information {

}

.product__name {
    font-size: 3rem;
}

.product__stock-status {
    padding: 8px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 8px;
    font-size: .8rem;
}

.product__stock-status--out {
    background: #111;
}

.product__stock-status--in {
    background: #42b883;
}

.product__details {
    margin: 16px 0 0 0;
}

.product__details-item {
    margin: 0 0 0 20px;
}

.product__shipping {
    margin: 16px 0 0 0;
}

.product__shipping-text {
    margin: 0;
}

.product__sizes {
    margin: 16px 0 0 0;
}

.product__sizes-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.product__sizes-item {
    width: 24px;
    height: 24px;
    border: solid 1px #aaa;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
}

.product__sizes-item:hover {
    cursor: pointer;
}

.product__sizes-item--selected {
    background: #111;
    border-color: #111;
    color: #fff;
}

.product__sizes-item-text {
    margin: 0;
    font-weight: bold;
}

.product__variants {
    margin: 16px 0 0 0;
}

.product__variants-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.product__variants-item {
    margin-right: 6px;
    cursor: pointer;
}

.product__variants-color {
    width: 24px;
    height: 24px;
    display:inline-block;
    border: solid 1px transparent;
    border-radius: 8px;
}

.product__actions {
    margin: 16px 0 0 0;
}